<div id="anfahrt" class="container ml-4">
    <div class="col-3"></div>
    <div class="col-6"> 
        <h4>Anfahrt</h4><br>
        <label for="mapAnfahrt" class="ml-5 pl-5">Hier finden Sie mich</label>
        <div id="mapAnfahrt" class="ml-5 pl-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d635.3996741613819!2d8.734789268286146!3d50.42994812554002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bcfecbc2d2a195%3A0x25cd69fe0e3c610d!2sObergasse+6%2C+35519+Rockenberg!5e0!3m2!1sde!2sde!4v1530173859520" width="500" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-3"></div> 
    <hr>
</div>