<header ng-controller="headerCtrl">
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-warning">        
        <a href="#"></a>        
        <a class="navbar-brand mt-1 mb-2 fontBrand" href="#/home"><img id="logo" src="assets/images/hammer.png" alt="Logo">Rechtsanwalt<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rockenberg<br></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">             
            <li class="nav-item active" id="liHome">
              <a class="nav-link" href="#/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="liRechtsgebiete">
              <a class="nav-link" href="#/rechtsgebiete">Rechtsgebiete</a>
            </li>
            <li class="nav-item" id="liZurPerson">
              <a class="nav-link" href="#/zurPerson">Zur&nbsp;Person</a>
            </li>
            <li class="nav-item" id="liKontakt">
              <a class="nav-link"  href="#/kontakt">Kontakt</a>
            </li>
            <li class="nav-item" id="liAnfahrt" >
              <a class="nav-link" href="#/anfahrt">Anfahrt</a>
            </li>
            <li class="nav-item" id="liImpressum">
              <a class="nav-link"  href="#/impressum">Impressum</a>
            </li>
            <li class="nav-item" id="liDatenschutz">
              <a class="nav-link"  href="#/datenschutz">Datenschutz</a>
            </li>
          </ul>          
        </div>
      </nav>
    </div>
    </header>