<div id="impressum" class="row">
    <div class="col-12">         
        <h3>Impressum</h3><br>     
        <strong>Herausgeber dieser Seite</strong><br>

        Joachim Landvogt<br>
        Obergasse 6<br>
        35519 Rockenberg<br><br>                  

        Tel: 06033 &#8211; 71170030  <br>
        Fax: 06033 &#8211; 8906294 <br>
        E-Mail: <a href="#/email">JoachimLandvogt@freenet.de</a><br><br>
        Web: <a href="http://www.rechtsanwalt-rockenberg.de" target="_blank" rel="noopener noreferrer">www.rechtsanwalt-rockenberg.de</a>
    </div>
    <div class="col-12"><br>  

        <strong>Kammerzugeh&ouml;rigkeit / zust&auml;ndige Aufsichtsbeh&ouml;rde</strong><br><br>
        Rechtsanwaltskammer Frankfurt <br>
        Bockenheimer Anlage 36<br>
        60322 Frankfurt am Main<br>
        Telefon: 069 &#8211; 17009801
        Telefax: 069 &#8211; 17009850
        E-Mail: <a href="mailto:info@rak-ffm.de">info@rak-ffm.de</a><br><br>

        <strong>Gesetzliche Berufsbezeichnung:</strong><br><br>
        Die gesetzliche Berufsbezeichnung des Berufstr&auml;gers lautet: Rechtsanwalt.<br>
        Dem Rechtsanwalt dieser Kanzlei ist die Berufsbezeichnung in der Bundesrepublik Deutschland verliehen worden.<br><br>

        <strong>Berufsrechtliche Regelungen:</strong><br><br>
        &bullet; Bundesrechtsanwaltsordnung (BRAO)<br>
        &bullet; Berufsordnung (BORA)<br>
        &bullet; Berufsregeln der Rechtsanw&auml;lte der Europ&auml;ischen Gemeinschaft<br>
        &bullet; Fachanwaltsordnung (FAO)<br>
        &bullet; Gesetz &uuml;ber die Verg&uuml;tung der Rechtsanw&auml;ltinnen und Rechtsanw&auml;lte (Rechtsanwaltsverg&uuml;tungsgesetz (RVG)<br>
        &bullet; Bundesgebührenordnung für Rechtsanw&auml;lte (BRAGO)<br>
        &bullet; Berufsregeln der Rechtsanw&auml;lte in der Europ&auml;ischen Gemeinschaft CCBE<br><br>
        Diese und weitere berufsrechtlichen Regelungen finden Sie unter <a href="http://www.brak.de/fuer-anwaelte" target="blank" rel="noopener noreferrer">www.brak.de</a>
    </div>
    <div class="col-12">  
        <br><strong>Umsatzsteueridentifikationsnummer (USt-IdNr.):</strong><br>
        USt-Identifikationsnummer  (&sect; 27a UStG): 01684030118  Finanzamt Friedberg<br><br>
        <strong>Berufshaftpflichtversicherung:</strong><br><br>
        R+V Allgemeine Versicherungs AG<br><br>
        <u>R&auml;umlicher  Geltungsbereich: </u><br>
        Versicherungsschutz besteht f&uuml;r die rechtsanwaltliche T&auml;tigkeit nach deutschem und europ&auml;ischem Recht mit Sitz und/oder Niederlassung in Deutschland. 
        Der Versicherungsschutz bezieht sich nicht auf Haftpflichtanspr&uuml;&uuml;che aus T&auml;tigkeiten<br>
        &uuml;ber den  Europ&auml;ischen Wirtschaftsraum<br>
        &bullet; &uuml;ber in anderen Staaten eingerichtete oder unterhaltene Kanzleien oder B&uuml;ros<br>
        &bullet; im Zusammenhang mit der Beratung und Besch&auml;¤ftigung mit au&szlig;ereurop&auml;ischem Recht;<br>
        &bullet; &uuml;ber in anderen Staaten eingerichtete oder unterhaltene Kanzleien oder B&uuml;ros;<br>
        &bullet; des Rechtsanwalts vor au&szlig;ereurop&auml;ischen Gerichten.<br><br>
        Der Versicherungsschutz bezieht sich nicht auf Haftpflichtanspr&uuml;che aus der Inanspruchnahme des Versicherungsnehmers vor au&szlig;ereurop&auml;ischen Gerichten.<br><br>		
        Die zust&auml;ndige Aufsichtsbeh&ouml;rde ist der Pr&auml;sident des Landgerichts Frankfurt Main.<br>
        Die ma&szlig;geblichen berufsrechtlichen Regelungen sind die Bundesnotarordnung (BNotO), das Beurkundungsgesetz (BeurkG), die Richtlinien der Notarkammern, die Dienstordnung f&uuml;r Notare (DONot), das Gerichts- und Notarkostengesetz (GNotKG) und die Europ&auml;ischen Standesrichtlinien.< br><br>
        Alle Regelungen sind abrufbar unter: <a href="http://www.bnotk.de/Notar/Berufsrecht/">http://www.bnotk.de/Notar/Berufsrecht/</a><br><br>
    </div>
    <div class="col-12">  
        <strong>Haftungshinweis:</strong><br><br>
        Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. 
        F&uuml;r die Inhalte einer verlinkten Seite ist ausschlie&szlig;lich deren Betreiber verantwortlich.<br><br>
        Der Autor distanziert sich von allen Inhalten der verlinkten Seiten, die nach dem Datum der Verlinkung ver&auml;ndert wurden, da er auf derzeitige oder zuk&uuml;nftige Gestaltung und Inhalte der verlinkten Seiten keinerlei Einfluss hat.
        Dies gilt auch f&uuml;r alle gesetzten Links und Verweise f&uuml;r Fremdeintr&auml;ge in gegebenenfalls vom Autor installierten G&auml;steb&uuml;chern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und anderen Formen von Datenbanken mit externen Schreibzugriffen.<br>
        F&uuml;r illegale oder fehlerhafte Inhalte und f&uuml;r Sch&auml;den, die aus der Nutzung extern dargebotener Informationen entstehen, haftet
        allein der Betreiber der verlinkten Seite, nicht der in o.g. Foren, G&auml;steb&uuml;cher, etc. Verweisende. 

        <br><strong>Informationspflicht nach § 36 VSBG</strong><br><br>
        F&uuml;r verm&ouml;gensrechtliche Streitigkeiten aus dem Mandatsverh&auml;ltnis ist die Schlichtungsstelle der Rechtsanwaltschaft, Rauchstraße 26, 10787 Berlin, www.s-d-r.org, zust&auml;ndig. Rechtsanwalt Joachim Landvogt ist grunds&auml;tzlich bereit, an Streitbeilegungsverfahren bei der Schlichtungsstelle der Rechtsanwaltschaft teilzunehmen.<br>
        Im Falle von Auseinandersetzungen &uuml;ber eine Vertragsabwicklung bei Online-Dienstleistungsvertr&auml;gen k&ouml;nnen Verbraucher auch andere  M&ouml;glichkeiten f&uuml;r eine au&szlig;ergerichtliche Beilegung von Streitigkeiten nutzen. Vertr&auml;ge, die ein Rechtsanwalt mit einem Mandanten, der Verbraucher ist, &uuml;ber die anwaltliche Internetseite oder auf anderem elektronischen Weg abschlie&szlig;t, sind Online-Dienstleistungsvertr&auml;ge. Bei Streitigkeiten daraus kann der Verbraucher zur au&szlig;ergerichtlichen L&ouml;sung die Plattform zur Online-Streitbeilegung (OS-Plattform) der Europ&auml;ischen Kommission  nutzen. Die Streitbeilegung erfolgt au&szlig;ergerichtlich und ausschlie&szlig;lich online.<br><br>
        Die Plattform zur Online-Streitbeilegung der Europ&auml;ischen Kommission erreichen Sie unter <a href="http://ec.europa.eu/consumers/odr/">ec.europa.eu/consumers/odr/</a>.<br><br>
    </div>
    <div class="col-12">  
        <a href="http://www.peh-berlin.de" target="fenster" onclick="window.open('link.html', 'fenster', 'width=400,height=400,status,resizable,scrollbars')"><div id="gestaltung"></div></a></td>                
        <br><br>
        <strong>Inhalt</strong><br><br>
        Der Autor beh&auml;lt sich vor, Teile des Inhaltes der Webseite ohne gesonderte Ank&uuml;ndigung ver&auml;ndern, erg&auml;nzen, entfernen oder den
        gesamten Inhalt einstellen zu k&ouml;nnen.<br><br>
        <strong>3. Urheber- und Kennzeichenrecht</strong> <br><br>

        Die verwendeten Texte, Bilder, Grafiken und ggf. Aufnahmen sind entweder selbst erstellt oder lizenzfreie Produkte, Textzitate sind als solche gekennzeichnet. Auf der Seite ver&ouml;ffentlichte Inhalte k&ouml;nnen unter Namensnennung des Autors an Dritte weitergegeben werden. Eine Vervielf&auml;ltigung und Verwendung der auf der Seite dargebotenen Inhalte an anderer Stelle ist vorzugsweise mit aber auch ohne Namensnennung des Autors gestattet.<br><br>

        <strong>Datenschutz</strong><br><br>
        Die auf der Webseite bestehende M&ouml;glichkeit zur Nennung pers&ouml;nlicher Daten (Namen, Emailadresse, Mitteilung)erfolgt seitens
        des Nutzers ausdr&uuml;cklich freiwillig. Siehe auch <a href="#/datenschutz">Zum Datenschutz</a><br><br>
        <strong>5. Salvatorische Klausel</strong><br><br>
        Der hier aufgef&uuml;hrte Haftungsausschluss ist Teil der Webseite und der darin aufgef&uuml;hrten Ver&ouml;ffentlichungen. Sofern Teile des
        Textes gem&auml;&szlig; der geltenden Rechtslage nicht oder nur teilweise zutreffen, so bleibt der &uuml;brige Haftungsausschluss in Inhalt
        und G&uuml;ltigkeit davon unber&uuml;hrt.<br><br>
    </div>
    <div class="col-12">  
        <strong>Konzept, Gestaltung und technische Umsetzung:<br />
        </strong><a href="http://www.peh-berlin.de/" target="_blank" rel="noopener noreferrer">PEH-Berlin</a>, Berlin<br>                     

        Bildnachweise:<br>
        Paragraph<a href="https://de.freepik.com/fotos-vektoren-kostenlos/symbol">Symbol bilder durch D3images - Freepik.com entwickelt</a>

    </div>
    <hr>
</div><!--end impressumCtrl--> 