<div id="kontakt" class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h4>Kontakt&nbsp;&nbsp;<i class="far fa-envelope"></i></h4>
            <form>
                <div class="form-group">
                    <label for="formName">Ihr Name *</label>
                    <input type="text" class="form-control" id="formName" placeholder="Bitte Namen eingeben" required>
                </div>
                <div class="form-group">
                    <label for="formEmail">Ihre Email *</label>
                    <input type="email" class="form-control" id="formEmail" placeholder="Ihre Emailadresse" required>
                </div>  
                <div class="form-group">
                    <label for="formTextArea">Ihre Nachricht *</label>
                    <textarea class="form-control" id="formTextarea" rows="3" required></textarea>
                </div>
                <button class="btn-info"><i class="far fa-envelope"></i>&nbsp;&nbsp;Absenden</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <hr>
</div>