<div id="rechtsgebiete" class="container text-center">   
    <div class="row">
        <span class="col-12"><h4><i class="fas fa-balance-scale"></i>&nbsp;&nbsp;&nbsp;&nbsp;Sie können mich bei Rechtfragen zu folgenden Gebieten ansprechen&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-balance-scale"></i></h4><br></span>   
        <div class="col-4 text-center mb-2">
            <div class="recht"> 
                <strong>Familienrecht</strong><br>
                &bullet; Scheidung<br>
                &bullet; Unterhalt<br>
                &bullet; Sorgerecht<br>
            </div>
        </div>
        <div class="col-4 text-center mb-2">
            <div class="recht">  
                <strong>Erbrecht</strong><br>
                <strong>Verkehrsrecht</strong><br>
                <strong>Mietrecht</strong><br>
                <strong>Sozialrecht</strong><br>
            </div>
        </div>
        <div class="col-4 text-center mb-2">       
            <div class="recht">
                <strong>Arbeitsrecht</strong><br>
                &bullet; Abmahnung<br>
                &bullet; Kündigung <br>
                &bullet; Zeugnis<br>
            </div>
        </div>
    </div>
    <hr>
</div>