<div id="myCarousel" class="carousel slide slideShow" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>        
        <div class="carousel-inner">
           <div class="carousel-item active">
           <div class="carouselHeight shadow"> 
            <img class="first-slide d-block img-fluid" src="assets/images/hammerSlideBig.jpg" alt="First slide">            
           </div>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1 class="h1ShadowBlack">Ihr Anwalt in Rockenberg und Umgebung</h1>
                <h3 class="h3ShadowBlack">-  Alles, was Recht ist -<br><br></h3>
                <p><a class="btn btn-lg btn-light btnKontakt" href="#/kontakt" role="button">Kontakt</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
           <div class="carouselHeight shadow">   
            <img class="second-slide d-block img-fluid" src="assets/images/handshakeBig.jpg" alt="Second slide">
           </div>
            <div class="container">
              <div class="carousel-caption text-dark">
                <h1 class="h1ShadowWhite">Die Kanzlei Ihres Vertrauens</h1>
                <h3 class="h3ShadowWhite">- Ihr juristisches Anliegen in guten Händen -</h3>
                <p><a class="btn btn-lg btn-primary btnKontakt" href="#/kontakt" role="button">Kontakt</a></p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
              <div class="carouselHeight shadow">             
                <img class="third-slide d-block img-fluid" src="assets/images/justiceCakeBig.jpg"  alt="Third slide">
              </div>
            <div class="container">
              <div class="carousel-caption text-right">
                <h1 class="h1ShadowBlack">Nicht ein Kuchenstück - der ganze Kuchen</h1>
                <h3 class="h3ShadowBlack">Sie sollten sich nur mit dem Besten zufrieden geben</h3>
                <p><a class="btn btn-lg btn-primary btnKontakt" href="#/kontakt" role="button">Kontakt</a></p>
              </div>
            </div>
          </div>            
         </div>        
        </div>     
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> <br>
</div>

    