<div ng-controller="weitereInfosCtrl" class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">          
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="assets/images/books.jpg" alt="books" width="140" height="140">
            <h2>Rechtsberatung</h2>
            <p>Ausführliche Analyse und Erörterung des individuellen Falls<br><br></p>
            <p><a class="btn btn-outline-secondary beratung" role="button">mehr</a></p>
            <div class="col-12" id="beratung">
                <p>
                    Sie können in meiner Kanzlei Ihren Fall ausführlich darlegen und in allen Einzelheiten Schildern. 
                    Ich werde die nötigen Rechtsschritte gemäß Ihren individuellen Anforderungen ermitteln und einsetzen.
                </p>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="assets/images/books.jpg" alt="books" width="140" height="140">
            <h2>Verfahrensführung</h2>
            <p>Persönliche Vertretung vor Gericht und vor Behörden<br><br></p>
            <p><a class="btn btn-outline-secondary verfahren" role="button">mehr</a></p>
            <div class="col-12" id="verfahren">
                <p>
                    Die gerichtlichen und außergerichtlichen Verfahren führe ich stets selbst und habe mit den beteiligten 
                    Parteien direkten Kontakt. Hierbei nutze ich auch langjährig gewachsene Strukturen.
                </p>
            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="assets/images/books.jpg" alt="books" width="140" height="140">
            <h2>Schlichtungen</h2>
            <p>Zusammenführen der Streitparteien,Erarbeitung einvernehmlicher Lösungen</p>
            <p><a class="btn btn-outline-secondary schlichtung" role="button">mehr</a></p>
            <div class="col-12" id="schlichtung">
                <p>
                    In manchen Fällen macht es mehr Sinn, den Weg über die Schlichtungsmöglichkeit zu wählen und eine für alle
                    betroffene Seiten einvernehmliche Lösung zu suchen und zu finden.
                </p>
            </div>
        </div><!-- end col-lg-4 -->
    </div><!-- end row -->
    <hr>
</div><!-- end container -->