.slideShow{
  margin:8% 0 0 0;
}
#logo{
    width:25%;
    height:20%;
}
div.carouselHeight{
    
}
div.carouselHeight img{
    width:100%;  
    height:20rem;
}
.h1ShadowBlack, .navbar-brand{
    text-shadow:0 0 5px black;
}
.h1ShadowWhite{
    text-shadow:0 0 5px white;
}
.fontBrand{  
  font-size:140%;
  line-height:30%;
}
li a.nav-link{
  font-size:1.2rem;
  text-shadow:0 0 2px white;
}
